@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
.container{
    padding: 0 100px;
    display: flex;
    margin: 0, auto;
    /*width: 940px;*/
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width: 25%;
    padding-top: 25%;
    position: relative;
    height: 0;
    overflow: hidden;
    /*height: 500px;*/
}
img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*@media screen and (min-width : 960px){
    .container{
        padding: 0 100px;
    }
    .box{
        width: 25%;
        padding-top: 25%;
    }
}*/
/*
@media screen and (min-width : 768px) and (max-width : 959px){
    .box{
        width: 33.333333333%;
        padding-top: 33.33333333%;
    }
}

@media screen and (max-width : 767px){
    .box{
        width: 50%;
        padding-top: 50%;
    }
}*/